*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
}

header{
    height: 60px;  
}
/* .divider::before{
    content: '';
    background-color: gray;
    position: absolute;
    min-width: 50%;
    height: 1px;
    top: 100%;
    left: 25%;
    right: 50%;
    bottom: 0;
    display: flex;
} */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
    height: 100%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo p{
    font-size: 20px;
    font-weight: 600;
}
.logo img{
    width: 50px;
    height: 50px;
    background-color: #eee;
}
.navbar ul{
    list-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
   
}
.navbar ul li{
    margin-left: 2rem;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
.navbar ul li a{
    color: #6B7280;
    text-decoration: none;
}
.navbar ul li a::after{
    content: '';
    border-radius: 6px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    transition: .15s ease-in-out;
}
.navbar ul li a:hover::after{
    border-bottom: 2px solid #6B7280;
}
.navbar ul li a:focus::after{
    border-bottom: 2px solid #E3B261;
}

.navbar ul li a:hover, .navbar ul li a:focus{
    color: #000;
}

/* DASHBOARD SECTION */
#dashboard{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
}
#dashboard h1{
    text-align: center;
    font-size: 30px;
}
.card-about-user{
    border-radius: 16px;
    padding: 60px 64px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, .25);
}
.card-about-user{
    

    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
    gap: 32px;

  
}

.card-about-user img{
    width: 70px;
    height: 70px;

}
.username{
    font-size: 25px;
}
.thoughts-about-future{
    grid-column: 3 / span 2;
    color: #6B7280;
    font-size: 20px;
}

.skill-progress{
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: #6B7280;
}

.card-skill-progress{
    position: relative;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.card-skill-progress h2 , p{
    color: #6B7280;
}
.card-skill-progress a{
    grid-column: 4/5;
   
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #0F766E;
    color: white;
}
.card-skill-progress img{
    width: 70px;
}
/* LAST SECTION */
#last-section{
    min-height: 150vh;
}
@media screen and (min-width:1200px) {
    .card-about-user{
    

        width: 50%;
        display: grid;
        grid-template-columns: 1fr  1fr 2fr 2fr;
        justify-content: center;
        align-items: center;
      
    
      
    }
    .card-skill-progress{
        display: grid;
        grid-template-columns: 1fr 1fr minmax(200px, 3fr) 1fr;
         width: 50%;
        justify-content: center;
        align-items: center;
    }
    /* .divider::before{
        content: '';
        background-color: gray;
        position: absolute;
        min-width: 50%;
        height: 1px;
        top: 100%;
        left: 25%;
        right: 50%;
        bottom: 0;
    } */
}
@media screen and (max-width:650px) {
    .navbar ul{
        display: none;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}